In [2]:
import pandas as pd
import numpy as np

In [3]:
labels=['a','b','c']
dt = [10,20,30]
arr= np.array(dt)
d={'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = dt)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=dt, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(dt,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series(data=[sum,print,len])#can actually pass in built-in function

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
s1 = pd.Series(np.arange(1,5),['USA','Germany','USSR','Japan'])

In [25]:
s1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int32

In [26]:
s2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [27]:
s1['USA']

1

In [31]:
s1[2]

3

In [32]:
s1 + s2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [37]:
from numpy.random import randn
np.random.seed(101)

In [39]:
df = pd.DataFrame(randn(5,4),['A',"B","C","D","E"],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [41]:
df["W"]

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [42]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [43]:
df[['W',"Z"]]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [44]:
type(df[['W',"Z"]])

pandas.core.frame.DataFrame

In [48]:
df['new'] = df['W'] + df['Y']

In [46]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [51]:
#df.drop('new') -> will result in error

In [50]:
df.drop('new',axis=1)#axis =1 means to look in column names

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [52]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [57]:
df.drop('new',axis=1,inplace=True) #inplace means you actually want to drop it in the origional df

KeyError: "['new'] not found in axis"

In [55]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [56]:
df.drop('E',axis=0)# axis =0 means rows

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [59]:
df.shape

(5, 4)

In [60]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [61]:
#get rows
df.loc['A']#lookup by row label -> return in series

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [62]:
df.iloc[2]#lookup rows by index

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [63]:
df.loc['B',"Y"]

0.16690463609281317

In [64]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [65]:
df.loc[['A','B'],['W','X']]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528